#Introdução ao Pandas

### Importando

In [201]:
import pandas as pd #tudo que trabalhamos no pandas esta baseados em Series e Dataframe

### Criando um DataFrame

In [202]:
#para criar um Dataframe, são baseados em Dictionary (Dicionário)
df = pd.DataFrame({"Aprovado": [65,45], "Reprovado":[35,55]}) 
print(df)

#cada colunas (atributos/propriedade) é uma Serie
#cada linha (entradas) é um valor

   Aprovado  Reprovado
0        65         35
1        45         55

In [203]:
df2 = pd.DataFrame({"Azul": ["Gosto", "Indiferente"], "Vermelho": ['Odeio','Amo']})
print(df2)

          Azul Vermelho
0        Gosto    Odeio
1  Indiferente      Amo

In [204]:
#o index pode ser qualquer coisa, mas deve ser uma Array/Series/List
df3 = pd.DataFrame({"Azul": ["Gosto", "Indiferente"], "Vermelho": ['Odeio','Amo']}, index=["Anderson", "Vinicius"]) 
print(df3)

                 Azul Vermelho
Anderson        Gosto    Odeio
Vinicius  Indiferente      Amo

### Series

In [205]:
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [206]:
p = pd.Series([12252023, 718773, 160275], index=["São Paulo", "Santo André", "São Caetano do Sul"], name="População")
print(p)

São Paulo             12252023
Santo André             718773
São Caetano do Sul      160275
Name: População, dtype: int64

### Importando Dados

In [207]:
# Disponível em: https://www.kaggle.com/shivamb/netflix-shows
df = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/ANDERSON/Introdução ao Python/Datasets/netflix_titles.csv')
df

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
1     80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2     70234439  ...  With the help of three human allies, the Autob...
3     80058654  ...  When a prison ship crash unleashes hundreds of...
4     80125979  ...  When nerdy high schooler Dani finally attracts...
...        ...  ...                                                ...
6229  80000063  ...  This parody of first-person shooter games, mil...
6230  70286564  ...  Marc Maron stars as Marc Maron, who interviews...
6231  80116008  ...  Nursery rhymes and original music for children...
6232  70281022  ...  Set during the Russian Revolution, this comic ...
6233  70153404  ...  This hit sitcom follows the merry misadventure...

[6234 rows x 12 columns]

In [208]:
df.shape

(6234, 12)

In [209]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [210]:
df.head() # Mostra os 5 primeiros itens do Dataframe
#df.head(60) Mostra os 60 (máximo) primeiros valores

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [211]:
df.tail() # Mostra os 5 útimos itens do Dataframe
#df.tail(60) Mostra os 60 (máximo) últimos valores

       show_id  ...                                        description
6229  80000063  ...  This parody of first-person shooter games, mil...
6230  70286564  ...  Marc Maron stars as Marc Maron, who interviews...
6231  80116008  ...  Nursery rhymes and original music for children...
6232  70281022  ...  Set during the Russian Revolution, this comic ...
6233  70153404  ...  This hit sitcom follows the merry misadventure...

[5 rows x 12 columns]

### Seleção

In [212]:
# Como boa prática não colocar espaços nos nomes das colunas
df['type'] # Método 1 - Retorna todos os valores da coluna 'type'

0         Movie
1         Movie
2       TV Show
3       TV Show
4         Movie
         ...
6229    TV Show
6230    TV Show
6231      Movie
6232    TV Show
6233    TV Show
Name: type, Length: 6234, dtype: object

In [213]:
df.type # Método 2 - Retorna todos os valores da coluna 'type'

0         Movie
1         Movie
2       TV Show
3       TV Show
4         Movie
         ...
6229    TV Show
6230    TV Show
6231      Movie
6232    TV Show
6233    TV Show
Name: type, Length: 6234, dtype: object

In [214]:
df.type[0] #retorna o primeiro elemento da coluna 'type'

'Movie'

In [215]:
df["type"][0] #retorna o primeiro elemento da coluna 'type'

'Movie'

In [216]:
df.iloc[0] # retorna todos valores do elemento na posição 0

show_id                                                  81145628
type                                                        Movie
title                     Norm of the North: King Sized Adventure
director                                 Richard Finn, Tim Maltby
cast            Alan Marriott, Andrew Toth, Brian Dobson, Cole...
country                  United States, India, South Korea, China
date_added                                      September 9, 2019
release_year                                                 2019
rating                                                      TV-PG
duration                                                   90 min
listed_in                      Children & Family Movies, Comedies
description     Before planning an awesome wedding for his gra...
Name: 0, dtype: object

In [217]:
df.iloc[:,0] # retorna todos elementos da coluna 0

0       81145628
1       80117401
2       70234439
3       80058654
4       80125979
          ...
6229    80000063
6230    70286564
6231    80116008
6232    70281022
6233    70153404
Name: show_id, Length: 6234, dtype: int64

In [218]:
df.iloc[1:3] # retorna elementos de 1 à 2 de todas colunas

    show_id  ...                                        description
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...

[2 rows x 12 columns]

In [219]:
df.loc[0,"title"] # permite colocar filtros

'Norm of the North: King Sized Adventure'

In [220]:
df.loc[df.release_year>2018] # retornar elementos da coluna release_year maiores que 2018

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
34    80221550  ...  Happy-go-lucky chicken Archibald may not remem...
35    81154455  ...  The grim realities of caste discrimination com...
38    81132437  ...  Bogged down with money problems, a couple grow...
39    80178151  ...  In the 1960s, Israeli clerk-turned-secret agen...
...        ...  ...                                                ...
6198  80189829  ...  Discovering his ties to a secret ancient order...
6204  80091341  ...  Rachel shocks her proper British parents when ...
6206  80173174  ...  A child star in the '80s, Samantha clings to t...
6215  80066227  ...  Still pining for Josh, the boy who dumped her ...
6219  80186475  ...  Ash and his Pikachu travel to the Alola region...

[868 rows x 12 columns]

In [221]:
df.loc[(df.release_year > 2019) & (df.type=="Movie")]# retornar elementos da coluna release_year maiores que '2019' e coluna type seja igual a 'Movie'

       show_id  ...                                        description
3180  81214114  ...  A special agent abruptly reunites with a crimi...
3195  80233408  ...  When Emilio (Oscar Martínez) is diagnosed with...
3249  81006825  ...  Thirteen-year-old José Miguel is immune to 199...
3352  81127902  ...  When gentle, law-abiding Grace confesses to ki...
3427  81060049  ...  From trying to seduce Prince to battling sleep...
3518  81088083  ...  The directors of Emmy-nominated "Lust Stories"...

[6 rows x 12 columns]

In [222]:
df.loc[(df.release_year > 2019) & (df.type=="Movie"), ['title']] # retorna elementos da coluna title onde a coluna release_year maiores que '2019' e coluna type seja igual a 'Movie'

                              title
3180                  Bulletproof 2
3195          Live Twice, Love Once
3249  All the Freckles in the World
3352              A Fall from Grace
3427     Leslie Jones: Time Machine
3518                  Ghost Stories

In [223]:
df.loc[(df.release_year > 2019) & ((df.type=="Movie") | (df.type=="Tv Show")),["title"]]

                              title
3180                  Bulletproof 2
3195          Live Twice, Love Once
3249  All the Freckles in the World
3352              A Fall from Grace
3427     Leslie Jones: Time Machine
3518                  Ghost Stories

In [224]:
df.loc[df.release_year.isin([2019,2020])]

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
34    80221550  ...  Happy-go-lucky chicken Archibald may not remem...
35    81154455  ...  The grim realities of caste discrimination com...
38    81132437  ...  Bogged down with money problems, a couple grow...
39    80178151  ...  In the 1960s, Israeli clerk-turned-secret agen...
...        ...  ...                                                ...
6198  80189829  ...  Discovering his ties to a secret ancient order...
6204  80091341  ...  Rachel shocks her proper British parents when ...
6206  80173174  ...  A child star in the '80s, Samantha clings to t...
6215  80066227  ...  Still pining for Josh, the boy who dumped her ...
6219  80186475  ...  Ash and his Pikachu travel to the Alola region...

[868 rows x 12 columns]

In [225]:
df.loc[df.director.notna()]

       show_id  ...                                        description
0     81145628  ...  Before planning an awesome wedding for his gra...
4     80125979  ...  When nerdy high schooler Dani finally attracts...
6     70304989  ...  In a dystopian future, an insurance adjuster f...
7     80164077  ...  Fabrizio Copano takes audience participation t...
9     70304990  ...  A struggling couple can't believe their luck w...
...        ...  ...                                                ...
6142  80063224  ...  A talented batch of amateur bakers face off in...
6158  80164216  ...  When Paris is in peril, Marinette becomes Lady...
6167  80115328  ...  A link in their pasts leads an honest cop to a...
6182  80176842  ...  Male celebs play make-believe as high schooler...
6213  80126599  ...  Destiny brings Mecnun and Leyla together as ne...

[4265 rows x 12 columns]

In [226]:
df.set_index("show_id")

             type  ...                                        description
show_id            ...
81145628    Movie  ...  Before planning an awesome wedding for his gra...
80117401    Movie  ...  Jandino Asporaat riffs on the challenges of ra...
70234439  TV Show  ...  With the help of three human allies, the Autob...
80058654  TV Show  ...  When a prison ship crash unleashes hundreds of...
80125979    Movie  ...  When nerdy high schooler Dani finally attracts...
...           ...  ...                                                ...
80000063  TV Show  ...  This parody of first-person shooter games, mil...
70286564  TV Show  ...  Marc Maron stars as Marc Maron, who interviews...
80116008    Movie  ...  Nursery rhymes and original music for children...
70281022  TV Show  ...  Set during the Russian Revolution, this comic ...
70153404  TV Show  ...  This hit sitcom follows the merry misadventure...

[6234 rows x 11 columns]

# Exercícios

#### 1.Selecione a coluna country do DataFrame e atribua a um novo DataFrame
#### 2.Selecione apenas o primeiro valor da coluna country do DataFrame e atribua a uma variável
#### 3.Selecione a primeira linha do DataFrame e atribua a um novo DataFrame
#### 4.Selecione os 10 primeiros valores da coluna country do DataFrame e atribua a um novo DataFrame
#### 5.Selecione as linhas 1, 2, 3, 10 e 50 da coluna release_year do DataFrame e atribua a um novo DataFrame
#### 6.Crie um novo DataFrame que contenha as colunas type, title, country e release_year apenas das linhas 1, 2 e 10
#### 7.Crie um novo DataFrame que contenha as colunas title e country das 100 primeiras linhas
#### 8.Crie um novo DataFrame que contenha apenas as produções Brasileiras
#### 9.Crie um novo DataFrame que contenha apenas os filmes (Movie) Brasileiros dos anos de 2019 e 2020

In [227]:
# Selecione a coluna Cuntry do dataframe e atribua a um novo Dataframe
df1= df['country'] # df_country = df.country
df1

0       United States, India, South Korea, China
1                                 United Kingdom
2                                  United States
3                                  United States
4                                  United States
                          ...
6229                               United States
6230                               United States
6231                                         NaN
6232                              United Kingdom
6233                               United States
Name: country, Length: 6234, dtype: object

In [228]:
# Selecione apenas o primeiro valor da coluna Country do Dataframe e atribua a uma variável
df2= df.country[0]
df2

'United States, India, South Korea, China'

In [229]:
# Selecione a primeira linha do dataframe e atribua a um novo Dataframe
df3 = df.loc[0]
df3

show_id                                                  81145628
type                                                        Movie
title                     Norm of the North: King Sized Adventure
director                                 Richard Finn, Tim Maltby
cast            Alan Marriott, Andrew Toth, Brian Dobson, Cole...
country                  United States, India, South Korea, China
date_added                                      September 9, 2019
release_year                                                 2019
rating                                                      TV-PG
duration                                                   90 min
listed_in                      Children & Family Movies, Comedies
description     Before planning an awesome wedding for his gra...
Name: 0, dtype: object

In [230]:
# Selecione os 10 primeiros valores da coluna country do Dataframe e atribua a um novo Dataframe
df4 = df.loc[:10,['country']]
df4

                                           country
0         United States, India, South Korea, China
1                                   United Kingdom
2                                    United States
3                                    United States
4                                    United States
5                                            Spain
6           Bulgaria, United States, Spain, Canada
7                                            Chile
8                                    United States
9   United States, United Kingdom, Denmark, Sweden
10                                             NaN

In [231]:
# Selecione as linhas 1,2,3,10 e 50 da coluna release_year do Dataframe e atribua a um novo Dataframe
df5 = df.loc[[1,2,3,10,50],['release_year']]
df5

    release_year
1           2016
2           2013
3           2016
10          2017
50          2004

In [232]:
# Crie um novo DataFrame que contenha as colunas type, title, country e release_year apenas das linhas 1, 2 e 10
df6 = df.loc[[1,2,10],['type','title','country','release_year']]
df6

       type                        title         country  release_year
1     Movie   Jandino: Whatever it Takes  United Kingdom          2016
2   TV Show           Transformers Prime   United States          2013
10    Movie  Joaquín Reyes: Una y no más             NaN          2017

In [233]:
#Crie um novo DataFrame que contenha as colunas title e country das 100 primeiras linhas
df7 = df.loc[0:99, ['title','country']]
df7

                                      title                                   country
0   Norm of the North: King Sized Adventure  United States, India, South Korea, China
1                Jandino: Whatever it Takes                            United Kingdom
2                        Transformers Prime                             United States
3          Transformers: Robots in Disguise                             United States
4                              #realityhigh                             United States
..                                      ...                                       ...
95                              The 3rd Eye                                 Indonesia
96             The Sinking Of Van Der Wijck                                 Indonesia
97                           Two Catalonias                                     Spain
98                     Bobby Sands: 66 Days                   Ireland, United Kingdom
99                            Bard of Blood                                     India

[100 rows x 2 columns]

In [234]:
#Crie um novo DataFrame que contenha apenas as produções Brasileiras
df8 = df.loc[(df.country=='Brazil')]
df8

       show_id  ...                                        description
77    81011955  ...  A cop moonlights as the bodyguard for a young ...
152   80214464  ...  An off-color joke nearly cost him everything. ...
527   80221210  ...  An honest lawyer reaches a moral crossroads af...
771   81003880  ...  An ambitious TV reporter uses risky and ethica...
933   80063617  ...  Young Cuca leaves his idyllic village on a gra...
969   80094453  ...  The romanticized life of media mogul Assis Cha...
1006  80218634  ...  In this adult animated series, three gay co-wo...
1090  81161538  ...  Four comedians from Brazil riff on sexuality, ...
1141  80244700  ...  A new guardian "angelus" uncovers a secret beh...
1217  81020531  ...  After meeting by chance, two young musicians w...
1261  80216621  ...  Go behind the scenes with Brazilian pop icon A...
1330  80107990  ...  Using breakthroughs in technology and neurosci...
1339  80127990  ...  In lawless badlands, reclusive Cabeleira sets ...
1456  80210147  ...  Brazilian comedian Edmilson Filho walks his au...
1573  80116761  ...  A decade after the seminal Brazilian film "Cit...
1704  80142223  ...  After living as a man for nearly 60 years, Lae...
2073  80162210  ...  YouTube sensation Felipe Neto brings the stori...
2092  80208298  ...  A 1950s housewife goes to Rio de Janeiro to me...
2521  80233215  ...  Determined to bring a Zika vaccine to the remo...
2543  80996455  ...  Left deeply in debt after their boss flees the...
2608  80190535  ...  Political documentary and personal memoir coll...
2654  80160726  ...  Eclectic character comedian Marco Luque plays ...
2660  80245601  ...  Fiercely independent and disillusioned with lo...
2680  80994442  ...  Entrepreneurs worldwide explore alternatives t...
2741  80148967  ...  When a fashion blogger falls for a video game ...
2908  80186829  ...  This biographical drama traces the rise to fam...
3217  80148595  ...  When their car breaks down en route to São Pau...
3297  80148920  ...  After being raped in her home, a married woman...
3344  81038976  ...  This documentary captures the environmental an...
3830  80119235  ...  During Carnival, two teens from different clas...
3838  80071048  ...  In a crime-plagued area of Rio de Janeiro, a t...
3938  80095232  ...  Inspired by the movie "Thelma & Louise," three...
3999  80147513  ...  After a tough upbringing, natural-born fighter...
4117  80223271  ...  As controversy surrounds the evangelical churc...
4296  81078397  ...  Jesus, who's hitting the big 3-0, brings a sur...
4322  80995577  ...  This intimate look at a São Paulo birth center...
4397  81020973  ...  In this biblical "Hangover" spoof, the apostle...
4726  80217315  ...  Three teens living in the same São Paulo favel...
4819  80997400  ...  In Catholic 19th-century France, professor Léo...
4995  81004321  ...  Brazilian YouTube sensation Whindersson Nunes ...
5046  80995575  ...  Mothers and medical professionals speak about ...
5306  80205442  ...  Fishtronaut, Marina and Zeek travel to the big...
5366  80187301  ...  A Brazilian man tries a myriad of ways to get ...
5458  80164207  ...  This film chronicles the career of surfer Dadá...
5463  81026007  ...  A pregnant Liss Pereira shares hilariously unc...
5553  80144890  ...  A seasoned couples therapist comes to realize ...
5820  80120485  ...  A scandal erupts in Brazil during an investiga...
5872  80074220  ...  In a future where the elite inhabit an island ...
6047  81041002  ...  Fading music biz veteran Zé realizes he has ju...
6206  80173174  ...  A child star in the '80s, Samantha clings to t...

[50 rows x 12 columns]

In [235]:
#Crie um novo DataFrame que contenha apenas os filmes (Movie) Brasileiros dos anos de 2019 e 2020
df9 = df.loc[(df.country=='Brazil') & (df.type=="Movie") & (df.release_year.isin([2019,2020]))]
df9

       show_id  ...                                        description
2608  80190535  ...  Political documentary and personal memoir coll...
2660  80245601  ...  Fiercely independent and disillusioned with lo...
4117  80223271  ...  As controversy surrounds the evangelical churc...
4296  81078397  ...  Jesus, who's hitting the big 3-0, brings a sur...
4819  80997400  ...  In Catholic 19th-century France, professor Léo...
4995  81004321  ...  Brazilian YouTube sensation Whindersson Nunes ...
5463  81026007  ...  A pregnant Liss Pereira shares hilariously unc...

[7 rows x 12 columns]

### Gerando resumos

In [236]:
# Disnível no Kaggle

df_casas = pd.read_csv('/content/drive/My Drive/MBA/MÓDULO - FUNDAMENTOS/ANDERSON/Introdução ao Python/Datasets/datasets_554905_1035602_houses_to_rent_v2.csv')
df.head()

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [237]:
df_casas.describe()

               area         rooms  ...  fire insurance (R$)    total (R$)
count  10692.000000  10692.000000  ...         10692.000000  1.069200e+04
mean     149.217920      2.506079  ...            53.300879  5.490487e+03
std      537.016942      1.171266  ...            47.768031  1.648473e+04
min       11.000000      1.000000  ...             3.000000  4.990000e+02
25%       56.000000      2.000000  ...            21.000000  2.061750e+03
50%       90.000000      2.000000  ...            36.000000  3.581500e+03
75%      182.000000      3.000000  ...            68.000000  6.768000e+03
max    46335.000000     13.000000  ...           677.000000  1.120000e+06

[8 rows x 9 columns]

In [238]:
df_casas['area'].describe()

count    10692.000000
mean       149.217920
std        537.016942
min         11.000000
25%         56.000000
50%         90.000000
75%        182.000000
max      46335.000000
Name: area, dtype: float64

In [239]:
df_casas.columns

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)'],
      dtype='object')

In [240]:
df_casas['rent amount (R$)'].describe()

count    10692.000000
mean      3896.247194
std       3408.545518
min        450.000000
25%       1530.000000
50%       2661.000000
75%       5000.000000
max      45000.000000
Name: rent amount (R$), dtype: float64

In [241]:
df_casas.city.describe()

count         10692
unique            5
top       São Paulo
freq           5887
Name: city, dtype: object

In [242]:
df_casas.city.unique()

array(['São Paulo', 'Porto Alegre', 'Rio de Janeiro', 'Campinas',
       'Belo Horizonte'], dtype=object)

In [243]:
df_casas.city.value_counts()

São Paulo         5887
Rio de Janeiro    1501
Belo Horizonte    1258
Porto Alegre      1193
Campinas           853
Name: city, dtype: int64

### Mapeando valores:

In [244]:
media = df_casas['rent amount (R$)'].mean()
media

3896.247194163861

In [245]:
#compara esta média para comparar com o restante
mediaZero = df_casas['rent amount (R$)'].map(lambda valor: valor - média)
mediaZero

0         -596.247194
1         1063.752806
2        -1096.247194
3        -2784.247194
4        -3096.247194
             ...
10687    -2418.247194
10688    11103.752806
10689     2103.752806
10690     8103.752806
10691    -2496.247194
Name: rent amount (R$), Length: 10692, dtype: float64

In [246]:
mediaZero.mean()

7.074272995973212e-13

In [247]:
# forma mais longa de fazer o antetior
def zeraMedia(linha):
  linha['rent amount (R$)']=linha['rent amount (R$)']-media
  return linha

new_df_casas = df_casas.apply(zeraMedia, axis=1)
new_df_casas

                 city  area  ...  fire insurance (R$)  total (R$)
0           São Paulo    70  ...                   42        5618
1           São Paulo   320  ...                   63        7973
2        Porto Alegre    80  ...                   41        3841
3        Porto Alegre    51  ...                   17        1421
4           São Paulo    25  ...                   11         836
...               ...   ...  ...                  ...         ...
10687    Porto Alegre    63  ...                   22        1926
10688       São Paulo   285  ...                  191       19260
10689  Rio de Janeiro    70  ...                   78        7390
10690  Rio de Janeiro   120  ...                  155       14020
10691       São Paulo    80  ...                   22        1587

[10692 rows x 13 columns]

In [248]:
# O Pandas já possui na própria estrutura de dados os principais 'map' e 'apply'
df_casas['rent amount (R$)'] - df_casas['rent amount (R$)'].mean()

0         -596.247194
1         1063.752806
2        -1096.247194
3        -2784.247194
4        -3096.247194
             ...
10687    -2418.247194
10688    11103.752806
10689     2103.752806
10690     8103.752806
10691    -2496.247194
Name: rent amount (R$), Length: 10692, dtype: float64

### Exercícios
##### 1.Qual a área média dos imóveis disponíveis para aluguel?
##### 2.Quais as quantidades únicas de banheiros nos imóveis disponíveis para aluguel?
##### 3.Crie uma variável preço_por_área que contenha a razão da área dos imóveis disponíveis para aluguel pelo preço de aluguel? Qual o melhor imóvel para alugar segundo esse critério? Dica: procure sobre o método idmax.
##### 4.Estou criando um site para facilitar inquilinos a encontrar o melhor imóvel para alugar, um dos filtros que desejo criar no meu site é a filtragem por tamanho do imóvel: pequeno (até 100 m2), médio (de 100 m2 até 300 m2), grande (de 300 m2 até 1.000 m2) e muito grande (acima de 1.000 m2), implemente esse filtro.

In [250]:
#1.Qual a área média dos imóveis disponíveis para aluguel?
df_casas['area'].mean()

149.21791994014217

In [251]:
#2.Quais as quantidades únicas de banheiros nos imóveis disponíveis para aluguel?
df_casas['bathroom'].unique()

array([ 1,  4,  3,  2,  6,  5,  7,  9,  8, 10])

In [265]:
#3.Crie uma variável preço_por_área que contenha a razão da área dos imóveis disponíveis para aluguel pelo preço de aluguel? Qual o melhor imóvel para alugar segundo esse critério? Dica: procure sobre o método idmax.
# ==> PROFESSOR

preco_por_area = df_casas.area/df_casas['rent amount (R$)']
x = preco_por_area.idxmax()
print(df_casas.iloc[x])

city                        Campinas
area                           12732
rooms                              3
bathroom                           2
parking spaces                     0
floor                              3
animal                         acept
furniture              not furnished
hoa (R$)                         700
rent amount (R$)                1600
property tax (R$)                 96
fire insurance (R$)               21
total (R$)                      2417
preco_por_area                7.9575
Name: 9241, dtype: object

In [267]:
preco_por_area2 = df_casas.area/df_casas['rent amount (R$)']
y = preco_por_area2.idxmin()
print(df_casas.iloc[y])

city                       São Paulo
area                              80
rooms                              2
bathroom                           1
parking spaces                     1
floor                              1
animal                         acept
furniture              not furnished
hoa (R$)                         875
rent amount (R$)               24000
property tax (R$)                  0
fire insurance (R$)              305
total (R$)                     25180
preco_por_area            0.00333333
Name: 2619, dtype: object

In [278]:
# ==> MEU
df_casas2 = df_casas
df_casas2['preco_por_area'] = df_casas['area']/df_casas['rent amount (R$)']
df_casas2['preco_por_area'].max()

7.9575

In [275]:
#4.Estou criando um site para facilitar inquilinos a encontrar o melhor imóvel para alugar, um dos filtros que desejo criar no meu site é a filtragem por tamanho do imóvel: pequeno (até 100 m2), médio (de 100 m2 até 300 m2), grande (de 300 m2 até 1.000 m2) e muito grande (acima de 1.000 m2), implemente esse filtro.
# ==> PROFESSOR

def classifica(linha):
  if linha.area <=100:
    linha['classification'] = "Pequeno"
  elif 100<linha.area<=300:
    linha['classification'] = "Médio"
  elif 300<linha.area<=1000:
    linha['classification'] = "Grande"
  else:
    linha['classification'] = "Muito Grande"
  return linha

df_casas.apply(classifica, axis = 1)

                 city  area  rooms  ...  total (R$)  preco_por_area classification
0           São Paulo    70      2  ...        5618        0.021212        Pequeno
1           São Paulo   320      4  ...        7973        0.064516         Grande
2        Porto Alegre    80      1  ...        3841        0.028571        Pequeno
3        Porto Alegre    51      2  ...        1421        0.045863        Pequeno
4           São Paulo    25      1  ...         836        0.031250        Pequeno
...               ...   ...    ...  ...         ...             ...            ...
10687    Porto Alegre    63      2  ...        1926        0.042625        Pequeno
10688       São Paulo   285      4  ...       19260        0.019000          Médio
10689  Rio de Janeiro    70      3  ...        7390        0.011667        Pequeno
10690  Rio de Janeiro   120      2  ...       14020        0.010000          Médio
10691       São Paulo    80      2  ...        1587        0.057143        Pequeno

[10692 rows x 15 columns]

In [271]:
# ==> MEU
area = int(input("Digite o valor da área do imóvel buscado: "))
if area <= 100:
  df_casas3 = df_casas.loc[df_casas.area<=100]

elif 100<area<=300:
  df_casas3 = df_casas.loc[df_casas.area.isin([100,300])]

elif 300<area<=1000:
  df_casas3 = df_casas.loc[df_casas.area.isin([301,1000])]

elif area>1000:
  df_casas3 = df_casas.loc[df_casas.area>1000]

df_casas3

Digite o valor da área do imóvel buscado: 3000

                city   area  ...  total (R$)  preco_por_area
654        São Paulo   1600  ...        9549        0.210526
2397  Belo Horizonte  46335  ...       10220        5.451176
2423  Belo Horizonte   1020  ...        7281        0.156442
3559       São Paulo   1100  ...       19210        0.078571
4813       São Paulo   1600  ...       12010        0.231884
5129  Belo Horizonte   2000  ...        5238        0.403551
5915       São Paulo  24606  ...       18320        3.037778
8790  Belo Horizonte   2000  ...        8267        0.400000
9241        Campinas  12732  ...        2417        7.957500

[9 rows x 14 columns]

### Agrupamentos

In [279]:
df_casas.bathroom.value_counts()

1     4301
2     2910
3     1474
4     1111
5      578
6      215
7       85
8       11
9        4
10       3
Name: bathroom, dtype: int64

In [280]:
df_casas.groupby('bathroom').bathroom.count()

bathroom
1     4301
2     2910
3     1474
4     1111
5      578
6      215
7       85
8       11
9        4
10       3
Name: bathroom, dtype: int64

In [285]:
# Qual imóvel mais barato por quantidade de banheiros
df_casas.groupby('bathroom')['rent amount (R$)'].min()

bathroom
1      450
2      650
3      765
4     1000
5      935
6     2400
7     2270
8     7320
9     8330
10    7000
Name: rent amount (R$), dtype: int64

In [286]:
# Qual imóvel mais caro por quantidade de banheiros
df_casas.groupby('bathroom')['rent amount (R$)'].max()

bathroom
1     24000
2     15000
3     30000
4     25000
5     20000
6     15000
7     45000
8     15000
9     15000
10    15000
Name: rent amount (R$), dtype: int64

In [287]:
# Qual é o preço médio dos imóveis por quantidade de banheiros
df_casas.groupby('bathroom')['rent amount (R$)'].mean()

bathroom
1      1857.408510
2      3371.218213
3      5410.198100
4      7186.502250
5      8367.586505
6      9156.613953
7     10370.047059
8     12447.272727
9     10092.250000
10    12333.333333
Name: rent amount (R$), dtype: float64

In [289]:
# Em quais cidades temos esses imóveis por quantidade de banheiros
df_casas.groupby('bathroom').city.unique()

bathroom
1     [São Paulo, Porto Alegre, Rio de Janeiro, Camp...
2     [São Paulo, Rio de Janeiro, Belo Horizonte, Ca...
3     [São Paulo, Rio de Janeiro, Campinas, Belo Hor...
4     [São Paulo, Campinas, Porto Alegre, Belo Horiz...
5     [São Paulo, Rio de Janeiro, Campinas, Belo Hor...
6     [Campinas, São Paulo, Rio de Janeiro, Belo Hor...
7     [Campinas, Belo Horizonte, São Paulo, Rio de J...
8             [Porto Alegre, Belo Horizonte, São Paulo]
9                                           [São Paulo]
10                          [São Paulo, Belo Horizonte]
Name: city, dtype: object

In [292]:
df_casas.groupby(['city','rooms']).size()

city            rooms
Belo Horizonte  1         150
                2         286
                3         389
                4         317
                5          78
                6          20
                7          13
                8           4
                10          1
Campinas        1         218
                2         253
                3         271
                4          91
                5          14
                6           4
                7           2
Porto Alegre    1         374
                2         424
                3         299
                4          62
                5          22
                6           9
                7           1
                8           2
Rio de Janeiro  1         404
                2         522
                3         422
                4         128
                5          18
                6           3
                7           3
                13          1
São Paulo       1        1308
                2        1490
                3        1888
                4         988
                5         156
                6          32
                7          17
                8           5
                9           1
                10          2
dtype: int64

In [293]:
df_casas.groupby(['rooms','city']).size()

rooms  city
1      Belo Horizonte     150
       Campinas           218
       Porto Alegre       374
       Rio de Janeiro     404
       São Paulo         1308
2      Belo Horizonte     286
       Campinas           253
       Porto Alegre       424
       Rio de Janeiro     522
       São Paulo         1490
3      Belo Horizonte     389
       Campinas           271
       Porto Alegre       299
       Rio de Janeiro     422
       São Paulo         1888
4      Belo Horizonte     317
       Campinas            91
       Porto Alegre        62
       Rio de Janeiro     128
       São Paulo          988
5      Belo Horizonte      78
       Campinas            14
       Porto Alegre        22
       Rio de Janeiro      18
       São Paulo          156
6      Belo Horizonte      20
       Campinas             4
       Porto Alegre         9
       Rio de Janeiro       3
       São Paulo           32
7      Belo Horizonte      13
       Campinas             2
       Porto Alegre         1
       Rio de Janeiro       3
       São Paulo           17
8      Belo Horizonte       4
       Porto Alegre         2
       São Paulo            5
9      São Paulo            1
10     Belo Horizonte       1
       São Paulo            2
13     Rio de Janeiro       1
dtype: int64

In [297]:
df_casas.groupby('city').apply(lambda df: df.loc[(df.area/df['rent amount (R$)']).idxmax()])

                          city   area  ...  total (R$)  preco_por_area
city                                   ...
Belo Horizonte  Belo Horizonte  46335  ...       10220        5.451176
Campinas              Campinas  12732  ...        2417        7.957500
Porto Alegre      Porto Alegre    900  ...        4257        0.900000
Rio de Janeiro  Rio de Janeiro    223  ...        3534        0.291503
São Paulo            São Paulo  24606  ...       18320        3.037778

[5 rows x 14 columns]

In [299]:
df_casas.groupby('city').rooms.agg([len,min,max])

                 len  min  max
city
Belo Horizonte  1258    1   10
Campinas         853    1    7
Porto Alegre    1193    1    8
Rio de Janeiro  1501    1   13
São Paulo       5887    1   10

In [300]:
df_casas.groupby('city')['rent amount (R$)'].agg([len,min,max])

                 len  min    max
city
Belo Horizonte  1258  450  15000
Campinas         853  500  15000
Porto Alegre    1193  500  19000
Rio de Janeiro  1501  500  15000
São Paulo       5887  500  45000

In [306]:
df_casas.groupby(['city','rooms']).size().reset_index()

              city  rooms     0
0   Belo Horizonte      1   150
1   Belo Horizonte      2   286
2   Belo Horizonte      3   389
3   Belo Horizonte      4   317
4   Belo Horizonte      5    78
5   Belo Horizonte      6    20
6   Belo Horizonte      7    13
7   Belo Horizonte      8     4
8   Belo Horizonte     10     1
9         Campinas      1   218
10        Campinas      2   253
11        Campinas      3   271
12        Campinas      4    91
13        Campinas      5    14
14        Campinas      6     4
15        Campinas      7     2
16    Porto Alegre      1   374
17    Porto Alegre      2   424
18    Porto Alegre      3   299
19    Porto Alegre      4    62
20    Porto Alegre      5    22
21    Porto Alegre      6     9
22    Porto Alegre      7     1
23    Porto Alegre      8     2
24  Rio de Janeiro      1   404
25  Rio de Janeiro      2   522
26  Rio de Janeiro      3   422
27  Rio de Janeiro      4   128
28  Rio de Janeiro      5    18
29  Rio de Janeiro      6     3
30  Rio de Janeiro      7     3
31  Rio de Janeiro     13     1
32       São Paulo      1  1308
33       São Paulo      2  1490
34       São Paulo      3  1888
35       São Paulo      4   988
36       São Paulo      5   156
37       São Paulo      6    32
38       São Paulo      7    17
39       São Paulo      8     5
40       São Paulo      9     1
41       São Paulo     10     2

In [305]:
df_casas.groupby(['city','rooms']).size().loc[("São Paulo",1)]

1308